body {
  font-family: didot-w01-italic, serif;
}
.navbar-default {
  background-color: #ffffff;
  border: none;
}
.one-header-container {
  height: 55px;
}
@media (min-width: 992px) {
  .one-header-container {
    height: 135px;
  }
}
.one-header-container .nav_bigtext {
  font-size: 12.14285714px;
  font-style: italic;
}
.one-header-container .nav_smalltext {
  font-size: 8.57142857px;
  font-family: FZXDXJW--GB1-0;
}
img.navbar-logo {
  width: auto;
  height: 35px;
}
@media (min-width: 992px) {
  img.navbar-logo {
    height: 105px;
  }
}
.navbar-brand {
  padding: 9px 15px;
}
@media (min-width: 992px) {
  .navbar-brand {
    padding: 15px 15px;
  }
}
@media (max-width: 992px) {
  #one_navbar {
    background-color: #2f2e2e;
  }
  #one_navbar ul.navbar-nav {
    text-align: center;
  }
  #one_navbar ul.navbar-nav a {
    color: #fff;
  }
  #one_navbar ul.navbar-nav a:after {
    position: absolute;
    bottom: 0;
    left: 60px;
    right: 60px;
    height: 1px;
    content: '';
    border-bottom: solid 1px #605e5e;
  }
}
@media (min-width: 992px) {
  #one_navbar {
    margin-top: 35px;
  }
}
.one-b-mtop {
  height: 55px;
}
@media (min-width: 992px) {
  .one-b-mtop {
    height: 135px;
  }
}
.one-carousel-container {
  padding: 0;
}
.one-carousel-container .one-global-living-banner {
  background: url(../images/global_living_banner.jpg) no-repeat center center;
  padding: 0;
  min-height: 350px;
  display: block;
}
@media (min-width: 992px) {
  .one-carousel-container .one-global-living-banner {
    margin-top: 120px;
    display: none;
  }
}
.one-carousel-container #global_living_carousel {
  display: none;
}
@media (min-width: 992px) {
  .one-carousel-container #global_living_carousel {
    padding: 0px;
    min-height: 600px;
    display: block;
  }
}
.one-sect-mgin {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .one-sect-mgin {
    margin-top: 80px;
  }
}
.font_3 {
  font-size: 57.14285714px;
  color: #2F2E2E;
}
.toh-three-1:hover {
  text-decoration: none;
}
.toh-three-1 .font_3 {
  font-style: italic;
}
.toh-three-2 {
  text-align: left;
}
.toh-three-2 .font_2 {
  font-size: 21.42857143px;
  color: #2F2E2E;
}
.toh-three-2 .tt-text {
  font-size: 14.28571429px;
  color: #999999;
}
.one-left-xs-right {
  text-align: left;
}
@media (min-width: 768px) {
  .one-left-xs-right {
    text-align: right;
  }
}
.toh-three-3 .timg {
  width: auto;
  height: 100%;
}
.one-second-body {
  background-color: #eaede6;
  overflow: hidden;
}
.one-banner2 {
  background: url(../images/banner_2.jpg) no-repeat center center;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  min-height: 654px;
  object-fit: cover;
  display: block;
}
@media (min-width: 992px) {
  .one-banner2 {
    min-height: 500px;
  }
}
.one-cards-section {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .one-cards-section {
    margin-top: 80px;
  }
}
.one-cards-section img.cards-logo {
  width: 110px;
  height: auto;
}
.one-cards-section img.cards-buid-img {
  width: 100%;
  height: auto;
}
.one-cards-section .aliyun-cards {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .one-cards-section .aliyun-cards {
    margin-top: 60px;
  }
}
.one-cards-section .aliyun-cards .card {
  background-color: #fff;
}
.one-cards-section .aliyun-cards .card img {
  width: 100%;
  height: auto;
}
.one-cards-section .aliyun-cards .card-title {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  color: #666666;
}
.one-news-section {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .one-news-section {
    margin-top: 80px;
  }
}
.one-news-section .one-news-head h2 {
  font-size: 30px;
  color: #4c4c4c;
  text-indent: 70px;
  background: url(../images/news_logo.jpg) no-repeat;
  height: 50px;
  line-height: 50px;
}
.one-news-section .new-title h2 {
  font-size: 64px;
  font-style: italic;
  color: #595757;
  margin-bottom: 10px;
  font-weight: 700;
}
.one-foot-container {
  margin-top: 30px;
  padding: 40px 0px;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #4c4948;
}
@media (min-width: 992px) {
  .one-foot-container {
    margin-top: 80px;
    padding: 50px 0px;
  }
}
.one-foot-container .pos-center {
  width: 100%;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  color: #ffffff;
}
.one-foot-container .pos-right {
  line-height: 130px;
}
.one-foot-container .pos-right .btn-group {
  width: 100%;
}
.one-foot-container .pos-right .btn-group a {
  margin: 0 10px 0 0;
}
@media (min-width: 992px) {
  .gap {
    background: transparent center no-repeat;
    background-size: cover;
  }
  .skrollr .gap {
    background: transparent !important;
  }
  .gap-50 {
    height: 50%;
  }
  .gap-100 {
    height: 100%;
  }
  .parallax-image-wrapper {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .parallax-image-wrapper-50 {
    height: 50%;
    top: -50%;
  }
  .parallax-image-wrapper-100 {
    height: 100%;
    top: -100%;
  }
  .parallax-image {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .parallax-image-50 {
    height: 200%;
    top: -50%;
  }
  .parallax-image-100 {
    height: 100%;
    top: 0;
  }
  .parallax-image.skrollable-between {
    display: block;
  }
  .no-skrollr .parallax-image-wrapper {
    display: none !important;
  }
}
